.iv-container {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  height: 100%;
}

.iv-header {
  grid-area: header;
}

.iv-content {
  grid-area: content;
  padding: 20px;
  height: 100%;
}
