.container__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.container__profile .card {
  padding: 10px;
  background-color: var(--bs-secondary);
  height: 100%;
}

.card__profile-info {
  min-height: 300px;
}
